Frontend/node_modules
Frontend/.nuxt
Frontend/.output
Frontend/dist
Frontend/.cache
Frontend/.vite

Backend/.venv
Backend/__pycache__
Backend/**/__pycache__
Backend/*.pyc
Backend/db.sqlite3
Backend/media
Backend/.env

.git
.venv
Docker/compose